{% extends "emails/base_email.html" %}

{% block title %}Redefinição de Senha - SisOvos{% endblock %}

{% block content %}
    <h2>Redefinição de Senha</h2>
    <p>Olá {{ usuario.nome }},</p>
    
    <p>Recebemos uma solicitação para redefinir a senha da sua conta no SisOvos.</p>
    
    <p>Para continuar com a redefinição de senha, clique no botão abaixo:</p>
    
    <p style="text-align: center;">
        <a href="{{ reset_url }}" class="button">Redefinir Senha</a>
    </p>
    
    <p>Se você não solicitou esta redefinição, por favor, ignore este e-mail ou entre em contato conosco se tiver alguma dúvida.</p>
    
    <p>O link de redefinição de senha expirará em {{ expira_em }} horas.</p>
    
    <p>Atenciosamente,<br>Equipe SisOvos</p>
{% endblock %}
